<html>
<head>
<style>
    .a{
        color:red;
    }
    .b{
        color:blue;
    }
</style>
</head>
<body>
<div [ngSwitch]="name">
    <p  *ngSwitchCase="'admin'">Admin</p>
    <p  *ngSwitchCase="'user'">User</p>
    <p  *ngSwitchCase="'office'">Office</p>
    <p  *ngSwitchDefault>Home</p>
</div>
    <button (click)="eveAc('admin')">Admin</button>
    <button  (click)="eveAc('user')">User</button>
    <button (click)="eveAc('office')">Office</button>
    <button (click)="eveAc('Default')">Default</button>
<p *ngIf="active">Used the ngIf true case</p>
<div *ngFor="let x of obj">
    {{x.name}} {{x.id}}
</div>
<div [ngClass]="{'a':!active,'b':active}">ngClass</div>
<div [ngStyle]="{'color':'violet'}">Aswini Kasireddy</div>
<app-header></app-header>
<router-outlet></router-outlet>
</body>
</html>